#sidebar-container {
  display: flex;
  flex-direction: column;
  width: 11.5vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgb(30, 135, 152);
  background: linear-gradient(
    180deg,
    rgba(30, 135, 152, 1) 0%,
    rgba(40, 158, 172, 1) 22%,
    rgba(83, 183, 189, 1) 68%
  );
  padding-top: 13vh;
  z-index: 1;
}
@media screen and (min-width: 372px) {
  #sidebar-container {
    width: 9.5vw;
  }
}
@media screen and (min-width: 450px) {
  #sidebar-container {
    width: 9vw;
  }
}
@media screen and (min-width: 590px) {
  #sidebar-container {
    width: 8vw;
  }
}
@media screen and (min-width: 769px) {
  #sidebar-container {
    width: 9vw;
  }
}
.layer-btn {
  background-color: unset;
  border-style: none;
}
.sidebar-icons {
  position: relative;
  border-style: none;
  background-color: unset;
  width: 4vw;
  height: 7vh;
}

@media screen and (max-width: 1000px) {
  .sidebar-icons {
    width: 7.2vw;
    height: 5.5vh;
  }
}
@media screen and (max-width: 900px) {
  .sidebar-icons {
    width: 7.5vw;
    height: 5.5vh;
  }
}
@media screen and (max-width: 769px) {
  .sidebar-icons {
    width: 6.5vw;
    height: 5vh;
  }
}
@media screen and (max-width: 700px) {
  .sidebar-icons {
    width: 6vw;
    height: 5vh;
  }
}
@media screen and (max-width: 595px) {
  .sidebar-icons {
    width: 7vw;
    height: 5vh;
  }
}
@media screen and (max-width: 500px) {
  .sidebar-icons {
    width: 8vw;
    height: 5vh;
  }
}
@media screen and (max-width: 450px) {
  .sidebar-icons {
    width: 9vw;
    height: 4.4vh;
  }
}
@media screen and (max-width: 400px) {
  .sidebar-icons {
    width: 8vw;
    height: 4vh;
  }
}
#sidebar-layers-container {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  align-items: center;
}
#search-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 10vw;
  right: 10vw;
  bottom: 0;
  padding: 4px;
  margin-top: 10vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
#search-input-container {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  color: #000000;
  resize: none;
  width: 30vw;
  height: 5vh;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset,
    rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#search-input-container:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 769px) {
  #search-input-container {
    width: 70vw;
    height: 6vh;
  }
}
@media all and (max-width: 1000px) {
  #search-input-container {
    width: 43vw;
    height: 4vh;
    font-size: 1em;
  }
}
.search-btns {
  display: flex;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  outline: none;
  color: #000000;
  resize: none;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset,
    rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
  width: 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;
}
.search-btns:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 700px) {
  .search-btns {
    width: 16vw;
    height: 6vh;
    font-size: 1em;
  }
}
@media all and (max-width: 900px) {
  .search-btns {
    width: 16vw;
    height: 6vh;
    font-size: 1em;
  }
}
#edit-btn {
  border-style: none;
  outline: none;
  background-color: unset;
}
#update-user-container {
  display: flex;
  width: 91vw;
  height: 90vh;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 9vw;
  right: 10vw;
  bottom: 0;
  padding: 4px;
  margin-top: 10vh;
  background: rgb(216, 254, 226);
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 769px) {
  #update-user-container {
    left: 9.5vw;
    width: 90.5vw;
  }
}
.update-input {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 140px;
  outline: none;
  color: #000000;
  resize: none;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset,
    rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
.update-input:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 30em) {
  .update-input {
    display: block;
    margin: 0.4em auto;
  }
}
#update-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #010e14;
  border-radius: 20px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset,
    rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#update-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #update-btn {
    display: block;
    margin: 0.4em auto;
  }
}
.edit-options {
  border: none;
  outline: none;
  color: black;
  background-color: rgb(190 210 245);
}
body {
  width: 100vw;
  height: 100vh;
}
#chat-btn {
  position: absolute;
  padding: 1%;
  z-index: 12;
  border-radius: 20px;
  margin-top: 75vh;
  font-weight: 600;
  border-style: none;
  background-color: unset;
}
@media screen and (min-width: 320px) {
  #chat-btn {
    width: 9.5vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 372px) {
  #chat-btn {
    width: 8.5vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 590px) {
  #chat-btn {
    width: 7vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  #chat-btn {
    width: 4.7vw;
    height: 5vh;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  #chat-btn {
    width: 4.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
