#sidebar-container {
  display: flex;
  flex-direction: column;
  width: 11.5vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgb(30, 135, 152);
  background: linear-gradient(
    180deg,
    rgba(30, 135, 152, 1) 0%,
    rgba(40, 158, 172, 1) 15%,
    rgba(83, 183, 189, 1) 68%
  );
  padding: 1vw;
}
@media screen and (min-width: 372px) {
  #sidebar-container {
    width: 9.5vw;
  }
}
@media screen and (min-width: 450px) {
  #sidebar-container {
    width: 9vw;
  }
}
@media screen and (min-width: 590px) {
  #sidebar-container {
    width: 8vw;
  }
}
@media screen and (min-width: 769px) {
  #sidebar-container {
    width: 5vw;
  }
}
.layer-btn{
  background-color:unset;
  border-style: none;
}
.sidebar-icons {
  position: relative;
  border-style: none;
  background-color:unset;
  width: 4vw;
  height: 6vh;
}

#sidebar-user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.2vw;
  height: 4vh;
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 7vh;
  margin-left: -0.8vw;
  border-radius: 100%;
  position: relative;
  border-style: none;
  background-color: rgb(34, 222, 255);
  box-shadow: rgb(50 50 93 / 67%) 0px 50px 100px -20px,
    rgb(0 0 0 / 52%) 0px 30px 60px -30px,
    rgb(10 37 64 / 55%) 0px -2px 6px 0px inset;
}
@media screen and (min-width: 320px) {
  #sidebar-user-name {
    width: 9vw;
    height: 5vh;
    margin-left: 0.5vw;
  }
}
@media screen and (min-width: 372px) {
  #sidebar-user-name {
    width: 8.5vw;
    height: 5vh;
    margin-left: -0.2vw;
  }
}
@media screen and (min-width: 450px) {
  #sidebar-user-name {
    width: 8vw;
    height: 6vh;
    margin-left: -0.4vw;
  }
}
@media screen and (min-width: 588px) {
  #sidebar-user-name {
    width: 7vw;
    height: 7vh;
    margin-left: -0.5vw;
  }
}
@media screen and (min-width: 700px) {
  #sidebar-user-name {
    width: 7vw;
    height: 9vh;
    margin-left: -0.6vw;
  }
}
@media screen and (min-width: 769px) {
  #sidebar-user-name {
    width: 4vw;
    height: 6vh;
    margin-left: -0.6vw;
  }
}
@media screen and (min-width: 1000px) {
  #sidebar-user-name {
    width: 4vw;
    height: 7.5vh;
    margin-left: -0.5vw;
  }
}
#sidebar-layers-container {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  align-items: center;
}
#search-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 101vw;
  margin-top: -70vh;
}
#edit-btn {
  border-style: none;
  outline: none;
  background-color:unset;
}
#update-user-container {
  height: 90vh;
  display: flex;
  width: 95vw;
  margin-top: -81vh;
  margin-left: 10.5vw;
  position: absolute;
  padding: 4px;
  background: rgb(216, 254, 226);
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: -83.3vh;
}
@media screen and (min-width: 320px) {
  #update-user-container {
    margin-left: 10vw;
    margin-top: -84vh;
  }
}
@media screen and (min-width: 364px) {
  #update-user-container {
    margin-left: 10.5vw;
    margin-top: -83.9vh;
  }
}
@media screen and (min-width: 372px) {
  #update-user-container {
    margin-left: 8.5vw;
    margin-top: -83.7vh;
  }
}
@media screen and (min-width: 405px) {
  #update-user-container {
    margin-left: 8.5vw;
    margin-top: -83.9vh;
  }
}
@media screen and (min-width: 450px) {
  #update-user-container {
    margin-left: 8vw;
    margin-top: -84.4vh;
  }
}
@media screen and (min-width: 560px) {
  #update-user-container {
    margin-left: 7.3vw;
    margin-top: -84.6vh;
  }
}
@media screen and (min-width: 589px) {
  #update-user-container {
    margin-left: 7vw;
    margin-top: -84.5vh;
  }
}
@media screen and (min-width: 640px) {
  #update-user-container {
    margin-left: 7vw;
    margin-top: -84.7vh;
  }
}
@media screen and (min-width: 680px) {
  #update-user-container {
    margin-left: 7vw;
    margin-top: -85.1vh;
  }
}
@media screen and (min-width: 769px) {
  #update-user-container {
    margin-left: 4vw;
    margin-top: -84.5vh;
  }
}
@media screen and (min-width: 880px) {
  #update-user-container {
    margin-left: 4vw;
    margin-top: -84.7vh;
  }
}
@media screen and (min-width: 1000px) {
  #update-user-container {
    margin-left: 4vw;
    margin-top: -82vh;
  }
}
#update-origin-select {
  border-radius: 20px;
  height: 3vh;
  width: 100px;
  border-style: none;
  border: none;
  outline: none;
  background-color: rgb(100, 201, 219);
  box-shadow: rgb(50 50 93 / 67%) 0px 50px 100px -20px,
    rgb(0 0 0 / 52%) 0px 30px 60px -30px,
    rgb(10 37 64 / 55%) 0px -2px 6px 0px inset;
}
#update-mobility-select {
  border-radius: 20px;
  height: 3vh;
  width: 100px;
  border-style: none;
  border: none;
  outline: none;
  background-color: rgb(100, 201, 219);
  box-shadow: rgb(50 50 93 / 67%) 0px 50px 100px -20px,
    rgb(0 0 0 / 52%) 0px 30px 60px -30px,
    rgb(10 37 64 / 55%) 0px -2px 6px 0px inset;
}
#update-medical-select {
  border-radius: 20px;
  height: 3vh;
  width: 100px;

  border-style: none;
  outline: none;
  border: none;
  background-color: rgb(100, 201, 219);
  box-shadow: rgb(50 50 93 / 67%) 0px 50px 100px -20px,
    rgb(0 0 0 / 52%) 0px 30px 60px -30px,
    rgb(10 37 64 / 55%) 0px -2px 6px 0px inset;
}
#update-btn {
  border-radius: 20px;
  border-style: none;
  outline: none;
  padding: 10px;
  width: 60px;
  height: 35px;
  background-color: rgb(100, 201, 219);
  box-shadow: rgb(50 50 93 / 67%) 0px 50px 100px -20px,
    rgb(0 0 0 / 52%) 0px 30px 60px -30px,
    rgb(10 37 64 / 55%) 0px -2px 6px 0px inset;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-options {
  border: none;
  outline: none;
  color: black;
  background-color: rgb(81, 180, 86);
}
body {
  width: 100vw;
  height: 100vh;
}
#chat-btn {
  position: absolute;
  padding: 1%;
  z-index: 10;
  border-radius: 20px;
  margin-top: 75vh;
  font-weight: 600;
  border-style: none;
  background-color:unset ;
}
@media screen and (min-width: 320px) {
  #chat-btn {
    width: 9.5vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 372px) {
  #chat-btn {
    width: 8.5vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 590px) {
  #chat-btn {
    width: 7vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  #chat-btn {
    width: 4.7vw;
    height: 5vh;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  #chat-btn {
    width: 4.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
