* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-header {
  font-family: "PT Sans Narrow", sans-serif;
  font-size:2.8em;
}
@media screen and (max-width: 1000px) {
  #main-header {
    font-size:3em;
  }
}
@media screen and (max-width: 510px) {
  #main-header {
    font-size: 2.9em;
  }
}
@media screen and (max-width: 420px) {
  #main-header {
    font-size: 2.2em;
  }
}
#layoutMain {
  height: 100%;
  width: 100%;
}
#sign-out-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  width: 10vw;
  height: 6.5vh;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin-left: 85vw;
  margin-top: 2vh;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#sign-out-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  #sign-out-btn {
    width: 10vw;
    height: 6.5vh;
    font-size: 0.9em;
  }
}
@media screen and (min-width: 420px) {
  #sign-out-btn {
    width: 10vw;
    height: 6.5vh;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  #sign-out-btn {
    width: 10vw;
    height: 6.5vh;
    font-size: 1em;
  }
}

#hello-user {
  color: #0f5344;
  font-family: "PT Sans Narrow", sans-serif;
}
#layoutHeader {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(30, 135, 152);
  background: linear-gradient(
    90deg,
    rgba(30, 135, 152, 1) 0%,
    rgba(40, 158, 172, 1) 25%,
    rgba(83, 183, 189, 1) 68%
  );
}
#layoutContent {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#layoutLinks {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  margin-left: 2vw;
  z-index: 2;
}
.headerLink {
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: #0f5344;
  font-family: "PT Sans Narrow", sans-serif;
}
.headerLink::after,
.headerLink::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.5s;
}
.headerLink::after {
  left: 50%;
}
.headerLink::before {
  right: 50%;
}
.headerLink:hover::before,
.headerLink:hover::after {
  width: 60%;
  opacity: 1;
}
.headerLink:hover {
  transform: scale(1.2);
}
#mobileLinks {
  width: 13%;
  display: none;
  margin-left: 1vw;
}
#divLinks {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(9, 121, 39);
  background: linear-gradient(
    90deg,
    rgb(20, 180, 47) 0%,
    rgba(43, 172, 40, 1) 20%,
    rgb(73, 209, 71) 65%
  );
  padding: 10vh 10vh 30vh 10vh;
}
.dummyLink {
  font-weight: bold;
  transition: all 0.5s;
}
.dummyLink:hover {
  transform: scale(1.2);
}
#footerLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3vh;
}
.footerColumnLink {
  margin-top: 4vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
