.right-sidebar {
  right: 0;
}
.right-sidebar-on {
  display: flex;
  width: 91vw;
  height: 90vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 9vw;
  right: 0;
  bottom: 0;
  padding: 4px;
  margin-top: 10vh;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
#terrain-select {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  color: #000000;
  box-shadow: inherit;
  background-color: inherit;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 8.4vh;
  width: 57vw;
  transition: all 0.2s;
}
#terrain-select:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;

}
@media all and (max-width: 30em) {
  #terrain-select {
    display: block;
    margin: 0.4em auto;
  border-radius: 20px;
  }
}

#terrain-header{
  font-family: "PT Sans Narrow", sans-serif;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
  display: flex;
  border: 0.01em solid #446b7e;
  background-color: #ffffff;
  height: 8.6vh;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  width: 88vw;
}