
#comunication-container{
    overflow-y: scroll;
    position: absolute;
    margin-left: 9vw;
    height: 90vh;
    background-color: #98ffaa;
}
#sharelocation-container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
}
#chat-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#secondery-chat-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#message-input-container{
    background-color: rgb(58, 247, 105);
    border-style: none;
    border-radius: 20px;
    height: 4vh;
    box-shadow: #33333363 0px 10px 36px 0px, rgb(0 0 0 / 16%) 0px 0px 0px 1px;
}
#send-message-btn{
    border-style: none;
    border-radius: 100%;
    margin-left: 1vw;
    height: 5vh;
    width: 10vw;
    background-color: rgb(0, 187, 47);
}
#file-input-container{
    width: 46vw;
    height: 4vh;
}
#description-send-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#description-input-container{
    width: 46vw;
    resize: none;
    border-style: none;
    color: rgb(27, 27, 27);
    background-color: rgb(58, 247, 105);
    border-radius: 10px;
    display: flex;
    box-shadow: #33333363 0px 10px 36px 0px, rgb(0 0 0 / 16%) 0px 0px 0px 1px;
}
#mark-type-select{
    border-style: none;
    color: rgb(27, 27, 27);
    background-color: rgb(58, 247, 105);
    border-radius: 10px;
    margin-left: 1vw;
    display: flex;
    box-shadow: #33333363 0px 10px 36px 0px, rgb(0 0 0 / 16%) 0px 0px 0px 1px;

}
#location-send-btn{
    border-style: none;
    border-radius: 20px;
    height: 5vh;
    width: 22vw;
    background-color: rgb(0, 187, 47);
    margin-left: 1vw;
    margin-top: 1vh;
    box-shadow: #33333363 0px 10px 36px 0px, rgb(0 0 0 / 16%) 0px 0px 0px 1px;
}