#comunication-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  background: rgb(216, 254, 226);
  padding: 1vw;
  align-items: center;
  margin-top: 10vh;
}
#sharelocation-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2vh;
}
#chat-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#secondery-chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
#message-input-container {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#message-input-container:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #message-input-container {
    display: block;
    margin: 0.4em auto;
  }
}
#send-message-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#send-message-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #send-message-btn {
    display: block;
    margin: 0.4em auto;
  }
}
#send--wifi-message-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#send--wifi-message-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #send--wifi-message-btn {
    display: block;
    margin: 0.4em auto;
  }
}
#file-input-container {
  border-radius: 4px;
  height: 22.2px;
  width: 180px;
  margin-bottom: 1vh;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#file-input-container:hover {
  background-color: #f3f4f6;
}
#file-input-container:active {
  background-color: #e5e7eb;
}
#description-send-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1vw;
}
#description-input-container {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  color: #000000;
  resize: none;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#description-input-container:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #description-input-container {
    display: block;
    margin: 0.4em auto;
  }
}
#mark-type-select {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  color: #000000;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
  text-align: center;
  transition: all 0.2s;
}
#mark-type-select:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #mark-type-select {
    display: block;
    margin: 0.4em auto;
  }
}
#location-wifi-send-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#location-wifi-send-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #location-wifi-send-btn {
    display: block;
    margin: 0.4em auto;
  }
}
#location-send-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #446b7e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(100 201 219 / 71%) 0px 18px 36px -18px inset;
}
#location-send-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  #location-send-btn {
    display: block;
    margin: 0.4em auto;
  }
}